.differentials {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

.differentials-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.differentials-item {
    max-width: 350px;

    box-sizing: border-box;
    background-repeat:no-repeat;
    background-position:top 1.25rem left 2rem; 
    padding: 2rem 0 2rem 5rem;
}

.differentials-item-time{
    background-image:url(../img/icone-relogio.png)
}
.differentials-item-focus{
    background-image:url(../img/icone-dinheiro.png)
}
.differentials-item-specialist{
    background-image:url(../img/icone-quimica.png)
}
.item-title {
    color: var(--cinza-escuro);
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;

    margin-bottom: 1.5rem;
}

.item-text {
    line-height: normal;
}
@media screen and (min-width:1024px){
    .differentials{
        background-color: var(--cinza-claro);

    }
    .differentials-list{
        justify-content:space-around;
    }
}