.header-content {
    color: var(--branco);

    width: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: .75rem;
    padding-bottom: .75rem;

    border-bottom: 1px solid var(--borda-cabecalho-mobile);

    position: absolute;
}

.header-content-logo {
    margin-bottom: 1rem;
}

.header-content-nav {
    text-align: center;
}

.header-content-nav-link {
    font-size: 1.1rem;
    font-family: var(--opensans);
    display: inline-block;
    margin-right: .7rem;
    margin-bottom: 1.25rem;
    margin-left: .7rem;
}
@media screen and (min-width:1024px) {
    .header-content {
        flex-direction: row;
        justify-content:space-between;
        border:none;
    }
    .header-content-nav-items{
        padding-top:10px;
    }
}
