.institutional {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--fonte-cinza);
    text-align: center;

    padding-top: 2rem;
    padding-bottom: 2rem;
}

.institutional-title {
    color: var(--cinza-escuro);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 2rem;
}

.institutional-description {
    margin-bottom: 2rem;
}

.institutional-address {
    font-size: 1.5rem;
    line-height: normal;

    margin-bottom: 2rem;
}

.institutional-contact {
    font-size: 1.2rem;
    line-height: 1.8;

    margin-top: 2rem;
}

.institutional-contact-phone {
    line-height: normal;
}

.institutional-contact-email {
    color: var(--fonte-link);
    text-decoration: underline;
    display: block;
}

.institutional-video {
    width: 100vw;
}

@media screen and (min-width:768px){
    .institutional-contact-email{
        display:inline-block;
    }
    .institutional-video{
        width: 100%;
    }
}
@media screen and (min-width: 1024px) {
    .institutional-content {
        width: 100%;

        display: flex;
        justify-content: space-between;

        text-align: left;
    }

    .institutional-video {
        align-self: flex-end;

        width: 375px;
    }

    .institutional-contact-email {
        display: block;
    }
}
